#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $tools := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .uv .)) }}

{{- if $tools }}
{{ range $tools -}}
uv tool install {{ . }}
{{ end -}}
{{- end }}
