#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $brews := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .brews .)) }}

brew install {{ $brews | join " " }}
