#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $taps := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .taps .)) }}

{{- range $taps }}
brew tap {{ . }}
{{- end }}
