{{- if and .personal (lookPath "bw") -}}
[user]
  name  = {{ .bw_github.name }}
  email = {{ .bw_github.email }}
{{- else if and (not .personal) .work -}}
[user]
  name  = {{ .git_name }}
  email = {{ .git_email }}
{{- end -}}
