{{ if and (eq .chezmoi.os "darwin" "linux") (not .headless) -}}

{{- $extensions := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .vscode .)) -}}

#!/bin/bash

set -euo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
