#!/bin/bash

# ------------------------------------------
# post-install dependency tasks
# ------------------------------------------

# --- fzf ---

# finish fzf installation script
{{ template "install-fzf.sh.tmpl" . }}


# --- bat ---

# load bat external theme(s)
if [ -d ~/.config/bat/themes ]; then
  echo "Loading external bat theme"
  if command -v bat &>/dev/null; then
    bat cache --build
  elif command -v batcat &>/dev/null; then
    batcat cache --build
  fi
fi
