#!/bin/bash

# ------------------------------------------
# post-install dependency tasks
# ------------------------------------------

# --- bat ---

# load bat external theme(s)
if [ -d ~/.config/bat/themes ]; then
  echo "Loading external bat theme"
  if command -v bat &>/dev/null; then
    bat cache --build
  elif command -v batcat &>/dev/null; then
    batcat cache --build
  fi
fi

{{ if eq .chezmoi.os "linux" -}}
# --- fonts ---

if command -v fc-cache &>/dev/null; then
  echo "refreshing font cache..."
  fc-cache -f
fi
{{ end -}}
