#!/bin/bash

#################
# linux
#################
{{ if eq .chezmoi.os "linux" -}}

# --- root user --- #
{{ if eq .chezmoi.username "root" -}}

# prep package manager
apt update && apt upgrade -y && apt autoremove

# install packages
apt install -y zsh git nano bat fd-find

# check/run package installer modules
{{ template "install-fzf.sh.tmpl" . }}
{{ end -}}

# --- all users --- #
{{ template "install-eza.sh.tmpl" . }}
#{{ template "init-defaults.sh.tmpl" . }}
{{ end -}}

#################
# mac os
#################
{{ if eq .chezmoi.os "darwin" }}
# nothing needed here yet
{{ end -}}

#################
# all platforms
#################
{{ template "install-starship.sh.tmpl" . }}
{{ template "install-zoxide.sh.tmpl" . }}
{{ template "install-thefuck.sh.tmpl" . }}

{{ template "init-defaults.sh.tmpl" . }}
