#!/bin/bash

#################
# linux
#################

##### root user ####

{{ if and (eq .chezmoi.username "root") (eq .chezmoi.os "linux") -}}

# prep package manager
apt update && apt upgrade -y && apt autoremove

# install packages
apt install -y zsh git nano bat fd-find

# check/run installer modules & set defaults
{{ template "install-starship.sh.tmpl" . }}
{{ template "install-fzf.sh.tmpl" . }}
{{ template "install-eza.sh.tmpl" . }}
{{ template "init-defaults.sh.tmpl" . }}



#### non-root user ####
{{ else if eq .chezmoi.os "linux" -}}

# check/run installer scripts & check/set zsh as default
{{ template "install-starship.sh.tmpl" . }}
{{ template "install-fzf.sh.tmpl" . }}
{{ template "install-eza.sh.tmpl" . }}
{{ template "init-defaults.sh.tmpl" . }}

{{ end -}}


#################
# mac os
#################

{{ if eq .chezmoi.os "darwin" }}


# install starship, fzf, zsh defaults
{{ template "install-starship.sh.tmpl" . }}
{{ template "install-fzf.sh.tmpl" . }}
{{ template "init-defaults.sh.tmpl" . }}


{{ end -}}