#!/bin/bash
set -euo pipefail

# ------------------------------------------
# linux
# ------------------------------------------

{{ if eq .chezmoi.os "linux" -}}

# --- root user --- #

{{ if eq .chezmoi.username "root" -}}

# install core dependencies if missing
missing=()
command -v zsh &>/dev/null || missing+=(zsh)
command -v git &>/dev/null || missing+=(git)

if [ ${#missing[@]} -gt 0 ]; then
  apt update && apt install -y "${missing[@]}"
fi

{{ end -}}

# --- all users --- #

{{ template "init-defaults.sh.tmpl" . }}
{{ end -}}

# ------------------------------------------
# mac os
# ------------------------------------------

{{ if eq .chezmoi.os "darwin" -}}

# check for declarative packages
if ! command -v brew &>/dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ if .personal -}}
# for secrets
brew install bitwarden-cli
{{ end -}}
{{ end -}}
