#!/bin/bash

#################
# linux
#################

##### root user ####

{{ if and (eq .chezmoi.username "root") (eq .chezmoi.os "linux") -}}

# prep package manager
apt update && apt upgrade -y && apt autoremove

# install packages
apt install -y zsh git nano bat fd-find

# check/run installer scripts & check/set zsh as default
{{ template "install-scripts.sh.tmpl" . }}

# install fzf
~/.fzf/install --all

#### non-root user ####
{{ else if eq .chezmoi.os "linux" -}}

# check/run installer scripts & check/set zsh as default
{{ template "install-scripts.sh.tmpl" . }}

# install fzf
~/.fzf/install --all

{{ end -}}


#################
# mac os
#################

{{ if eq .chezmoi.os "darwin" }}

# install oh-my-zsh, starship, fzf
{{ template "installers.sh.tmpl" . }}

# install fzf
~/.fzf/install --all

{{ end -}}