#!/bin/bash

#################
# post-install 
#################

# init theme/shell defaults
{{ template "init-defaults.sh.tmpl" . }}

# post-installer dependency tasks
{{ template "install-fzf.sh.tmpl" . }}