{{- /* plugins */ -}}

{{- if ne .chezmoi.os "windows" }}
[".local/share/zsh/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/*.circleci",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "**/*.zwc",
]

[".local/share/zsh/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/test-data/**",
  "*/highlighters/*/test-data/**",
  "*/spec/**",
  "**/*.zwc",
]

[".local/share/zsh/plugins/zsh-completions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-completions.git"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "**/*.zwc",
]

[".local/share/zsh/plugins/fzf-tab"]
type = "git-repo"
url = "https://github.com/Aloxaf/fzf-tab"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "*/images/**",
  "**/*.zwc",
]

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "*/docs/**",
  "*/bindings/**",
  "**/*.zwc",
]
{{- end }}

{{/* fonts */}}

{{- if and .personal (not .headless) (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}

["{{ $fontDir }}/{{ .nerd_font }}"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/{{ .nerd_font }}.tar.xz"
exact = true
refreshPeriod = "168h"
include = ["{{ .nerd_font }}NerdFontMono-*.ttf"]
{{- end }}

{{/* nvim config */}}

{{- if not .ephemeral }}
{{- $nvimPath := ".config/nvim" }}
{{- if eq .chezmoi.os "windows" }}{{ $nvimPath = "AppData/Local/nvim" }}{{ end }}
["{{ $nvimPath }}"]
type = "archive"
url = "https://github.com/brendanlees/astronvim-config/archive/main.tar.gz"
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "**/*.zwc",
  "**/lazy-lock.json",
]
{{- end }}


{{/* Spicetify text theme essentials */}}

{{- if and (eq .chezmoi.os "darwin") .personal (not .headless) }}
[".config/spicetify/Themes/text/README.md"]
type = "file"
url = "https://raw.githubusercontent.com/spicetify/spicetify-themes/master/text/README.md"
refreshPeriod = "168h"

[".config/spicetify/Themes/text/user.css"]
type = "file"
url = "https://raw.githubusercontent.com/spicetify/spicetify-themes/master/text/user.css"
refreshPeriod = "168h"
{{- end }}

{{- if .personal }}

{{/* agent harness configs */}}
[".claude"]
type = "git-repo"
url = "https://gitea.lab.brendans.cloud/xbxd/claude-config.git"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
]
[".claude".pull]
args = ["--autostash", "--rebase"]

[".pi"]
type = "git-repo"
url = "https://gitea.lab.brendans.cloud/xbxd/pi-config.git"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
]
[".pi".pull]
args = ["--autostash", "--rebase"]
{{- end }}

