[".cli-plugins/zsh/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/*.circleci",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "**/*.zwc",
]

[".cli-plugins/zsh/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/test-data/**",
  "*/highlighters/*/test-data/**",
  "*/spec/**",
  "**/*.zwc",
]

[".cli-plugins/zsh/zsh-completions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-completions.git"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "**/*.zwc",
]

[".cli-plugins/fzf/fzf-tab"]
type = "git-repo"
url = "https://github.com/Aloxaf/fzf-tab"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "*/images/**",
  "**/*.zwc",
]

[".tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "*/docs/**",
  "*/bindings/**",
  "**/*.zwc",
]

{{- if and .personal (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}

["{{ $fontDir }}/{{ .nerd_font }}"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/{{ .nerd_font }}.tar.xz"
exact = true
refreshPeriod = "168h"
include = ["{{ .nerd_font }}NerdFontMono-*.ttf"]
{{- end }}

{{- if not .ephemeral }}
[".config/nvim"]
type = "archive"
url = "https://github.com/brendanlees/astronvim-config/archive/main.tar.gz"
stripComponents = 1
refreshPeriod = "24h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
  "*/*.md",
  "*/test/**",
  "*/tests/**",
  "*/spec/**",
  "**/*.zwc",
]
{{- end }}

