#################
# vault etc
#################
{{- if eq .chezmoi.os "darwin" }}
export PATH="$HOME/.bw:$PATH"
{{- end }}


#################
# editor
#################
{{- if eq .chezmoi.os "darwin" }}
# vscode
export EDITOR="code -w"
{{- end }}


#################
# zsh plugins
#################
# load zsh-syntax-highlighting
source "$HOME/.cli-plugins/zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

# load zsh-completions
fpath=("$HOME/.cli-plugins/zsh/zsh-completions/" $fpath)

# completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'

# load zsh-autosuggestions
source "$HOME/.cli-plugins/zsh/zsh-autosuggestions/zsh-autosuggestions.zsh"

# autosuggestions history config
export HISTSIZE=10000
export HISTFILE=$HOME/.zsh_history
export SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups


#################
# starship
#################
# start starship prompt
eval "$(starship init zsh)"
export STARSHIP_CONFIG=~/.config/starship/starship.toml

#################
# zoxide
#################
export PATH=$HOME/.local/bin:$PATH
eval "$(zoxide init --cmd cd zsh)"

#################
# key bindings
#################
# Navigate words using Ctrl + arrow keys
# >>> CRTL + right arrow | CRTL + left arrow
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

# zsh history
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward


#################
# fzf
#################
# Set up path (due to Git install)
export PATH="$PATH:$HOME/.fzf/bin"

# Set up fzf key bindings and fuzzy completion
source <(fzf --zsh)

# Load fzf-git script
source "$HOME/.cli-plugins/fzf/fzf-git.sh"

# Load fzf-tab script
autoload -U compinit; compinit -u
source "$HOME/.cli-plugins/fzf/fzf-tab/fzf-tab.plugin.zsh"


#################
# fd 
#################
# mac only due to issues with fdfind

# Set up path (due to symlink)
#export PATH="$PATH:$HOME/.local/bin/fd"

# aliases
{{- if lookPath "fdfind" }}
alias fd=fdfind
{{- end }}


{{- if eq .chezmoi.os "darwin" }}

# Use fd instead of fzf
export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}

show_file_or_dir_preview="if [ -d {} ]; then eza --tree --color=always {} | head -200; else bat -n --color=always --line-range :500 {}; fi"

export FZF_CTRL_T_OPTS="--preview '$show_file_or_dir_preview'"
export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"

# Advanced customization of fzf options via _fzf_comprun function
# - The first argument to the function is the name of the command.
# - You should make sure to pass the rest of the arguments to fzf.
_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'eza --tree --color=always {} | head -200' "$@" ;;
    export|unset) fzf --preview "eval 'echo ${}'"         "$@" ;;
    ssh)          fzf --preview 'dig {}'                   "$@" ;;
    *)            fzf --preview "$show_file_or_dir_preview" "$@" ;;
  esac
}


{{- end }}

#################
# eza
#################

# aliases
{{- if lookPath "eza" }}

    # Set minimal version default (add f for full view)
    ls_minimal="--no-permissions --no-filesize --no-user --no-time --git"
    
    alias ld="eza -lD --color=always --icons=always $ls_minimal"
    alias ldf="eza -lD --color=always --icons=always"

    alias lf="eza -lF --color=always --icons=always $ls_minimal"
    alias lff="eza -lF --color=always --icons=always"

    alias lh="eza -ld .* --color=always --icons=always --group-directories-first $ls_minimal"
    alias lhf="eza -ld .* --color=always --icons=always --group-directories-first"

    alias ll="eza -al --icons=always --color=always --group-directories-first $ls_minimal"
    alias llf="eza -al --icons=always --color=always --group-directories-first"

    alias ls="eza -alF --color=always --icons=always $ls_minimal"
    alias lsf="eza -alF --color=always --icons=always --git"

    alias lt="eza -al --color=always --icons=always --sort=modified $ls_minimal"
    alias ltf="eza -al --icons=always --color=always --sort=modified"

    alias tree="eza -alF --tree --level=2 --icons=always --color=always $ls_minimal"
    alias treef="eza -alF --tree --level=2 --icons=always --color=always"
    
{{- end }}

#################
# bat
#################

# Default bat theme
#export BAT_THEME='Monokai Extended'
export BAT_THEME=tokyonight_night

# aliases
{{- if lookPath "bat" }}
alias cat=bat --paging never --style=plain
{{- else if lookPath "batcat" }}
alias cat=batcat --paging never --style=plain
{{- end }}

#################
# thefuck
#################
{{ if and (eq .chezmoi.os "linux") (or (not .chezmoi.hostname) (not (contains "pve" .chezmoi.hostname))) -}}
eval $(thefuck --alias)
{{ end -}}





