# ------------------------------------------
# zsh aliases
# ------------------------------------------

# define aliases directory
ALIASES_DIR="$HOME/.aliases"

# source all alias files
if [ -d "$ALIASES_DIR" ]; then
    for alias_file in "$ALIASES_DIR"/*.zsh; do
        if [ -f "$alias_file" ]; then
            source "$alias_file"
        fi
    done
fi

# (use .local-env.zsh for any local machine specific vars) 

