#################
# editor
#################
{{- if eq .chezmoi.os "darwin" }}
# vscode
export EDITOR="code -w"
{{- end }}

#################
# oh-my-zsh
#################
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
source $ZSH/oh-my-zsh.sh
DISABLE_AUTO_UPDATE="true"

# load zsh-autosuggestions
source "$HOME/.cli-plugins/zsh/zsh-autosuggestions/zsh-autosuggestions.zsh"

# load zsh-syntax-highlighting
source "$HOME/.cli-plugins/zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

#################
# starship
#################
# start starship prompt
eval "$(starship init zsh)"
export STARSHIP_CONFIG=~/.config/starship/starship.toml

#################
# key bindings
#################
# Navigate words using Ctrl + arrow keys
# >>> CRTL + right arrow | CRTL + left arrow
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

#################
# aliases
#################
# bat
{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
# fd
{{- if lookPath "fdfind" }}
alias fd=fdfind
{{- end }}

#################
# fzf
#################
# Set up path (due to Git install)
export PATH="$PATH:$HOME/.fzf/bin"

# Set up fzf key bindings and fuzzy completion
source <(fzf --zsh)

# Load fzf-git script
source "$HOME/.cli-plugins/fzf/fzf-git.sh"

#################
# fd
#################
# Set up path (due to symlink)
#export PATH="$PATH:$HOME/.local/bin/fd"

# Use fd instead of fzf
{{- if eq .chezmoi.os "darwin" }}
export FZF_DEFAULT_COMMAND="fd-find --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd-find --type=d --hidden --strip-cwd-prefix --exclude .git"
{{ else if eq .chezmoi.os "linux" -}}
export FZF_DEFAULT_COMMAND="fd-find --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd-find --type=d --hidden --strip-cwd-prefix --exclude .git"
{{- end }}

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}


#################
# bat
#################
# Default bat theme
export BAT_THEME='Monokai Extended'


