#!/bin/bash

# ---
# linux
# ---

{{ if and (eq .chezmoi.username "root") (eq .chezmoi.os "linux") -}}

# prep package manager
apt update && apt upgrade -y && apt autoremove

# install packages
apt install -y zsh git nano bat fd-find

# run fzf git installer script
~/.fzf/install --all

# run symlink for fd
# mkdir -p ~/.local/bin
# ln -sf $(which fdfind) ~/.local/bin/fd

# install starship
sh -c "$(curl -sS https://starship.rs/install.sh)" -- -y

# install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc

chsh -s $(which zsh)

{{ else if eq .chezmoi.os "linux" -}}

# run fzf git installer script
~/.fzf/install --all

# run symlink for fd
# mkdir -p ~/.local/bin
# ln -sf $(which fdfind) ~/.local/bin/fd

# install oh-my-zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
	echo "Getting oh-my-zsh"
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc --skip-chsh
else
	echo ".oh-my-zsh already found, skipping."
fi

# set zsh to default shell
echo "Set zsh as default shell"
chsh -s $(which zsh)
{{ end -}}

# ---
# macos
# ---

{{ if eq .chezmoi.os "darwin" }}

# install starship
sh -c "$(curl -sS https://starship.rs/install.sh)" -- -y

# install oh-my-zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
	echo "Getting oh-my-zsh"
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc --skip-chsh
else
	echo ".oh-my-zsh already found, skipping."
fi
echo "Set zsh as default shell"
sudo chsh -s $(which zsh) $(whoami)
{{ end -}}