[[session]]
name = "homelab"
path = "~/{{ .code_dir }}/_homelab/ansible-playbooks/homelab"
startup_command = "ansible-playbook update-servers.yml"
windows = ["playbook"]

[[session]]
name = "claude-meta"
path = "~/.claude"
startup_command = "claude"

[[wildcard]]
pattern = "~/{{ .code_dir }}/*"

