[[session]]
name = "steady-servers"
path = "~/{{ .code_dir }}/_work/ansible-playbooks/steady-servers"
startup_command = "tailscale switch steadydigital.co && tailscale up && ansible-playbook update-servers.yml && tailscale down"
windows = ["playbook"]

[[session]]
name = "invoice-ninja"
path = "~/{{ .code_dir }}/_work/ansible-playbooks/steady-servers"
startup_command = "tailscale switch steadydigital.co && tailscale up && ansible-playbook update-invoice-ninja.yml && tailscale down"
windows = ["playbook"]

[[ wildcard ]]
pattern = "~/{{ .code_dir }}/_work/*"
