{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash
set -euo pipefail

zinit_dir="${XDG_DATA_HOME:-$HOME/.local/share}/zinit/zinit.git"
if [[ ! -r "$zinit_dir/zinit.zsh" ]]; then
  mkdir -p "${zinit_dir%/*}"
  git clone --depth 1 https://github.com/zdharma-continuum/zinit.git "$zinit_dir"
fi
{{- end -}}
