# ------------------------------------------
# .aliases/chezmoi
# ------------------------------------------

{{- $bw := "" }}
{{- if .personal }}
{{- $bw = "export BW_SESSION=$(bw unlock --raw) && " }}
{{- end }}

# purge & reinit
alias czr='{{ $bw }}chezmoi purge --force && chezmoi init --apply brendanlees'

# reapply
alias czrs='{{ $bw }}chezmoi apply'
