# ------------------------------------------
# .aliases/chezmoi
# ------------------------------------------

# vault
{{- $bw := "" }}
{{- if and .personal (lookPath "bw") }}
{{- $bw = "export BW_SESSION=$(bw unlock --raw) && " }}
{{- end }}

# apply
alias cza='{{ $bw }}chezmoi apply --force'

# purge system & reinit
# (NOTE this will wipe the repo - be sure to push branches or worktrees first!)
alias czr='{{ $bw }}chezmoi purge --force && chezmoi init --apply brendanlees'
