# managed by chezmoi - re-runs when vscode.yml changes
{{- if and (not .headless) (lookPath "code") }}
{{- $extensions := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .vscode .)) }}
$ErrorActionPreference = 'Stop'

$installed = @(code --list-extensions)

{{ range $extensions -}}
if ($installed -notcontains '{{ . }}') {
  code --force --install-extension {{ . }}
}
{{ end -}}
{{- end }}
