# managed by chezmoi - re-runs when packages-windows.yml changes
{{- $apps := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .wingets .)) }}
{{- range $apps }}
winget install --exact --silent --accept-source-agreements --accept-package-agreements --id {{ . }}
{{- end }}
