# ------------------------------------------
# .aliases/chezmoi
# ------------------------------------------

# alias cz="chezmoi"
alias czdir="~/.local/share/chezmoi"
alias czr="chezmoi purge --force && chezmoi init --apply brendanlees"
