# ------------------------------------------
# .aliases/chezmoi
# ------------------------------------------

# add secrets
{{- $bw := "" }}
{{- if .personal }}
{{- $bw = "export BW_SESSION=$(bw unlock --raw) && " }}
{{- end }}

# apply
alias cza="{{ $bw }}chezmoi apply"

# reinit
alias czr="{{ $bw }}chezmoi purge --force && chezmoi init --apply brendanlees"
