# ------------------------------------------
# .aliases/general
# ------------------------------------------

alias sudo="sudo " # make sudo expand aliases
alias c="clear"
alias s='sesh picker -i'
alias dotfiles="cd ~/.local/share/chezmoi"
