# ------------------------------------------
# .aliases/lazyapps
# ------------------------------------------

# --- aliases ---

alias lzd='lazydocker' # run lazydocker
alias lzg='lazygit' # run lazydocker