# ------------------------------------------
# eza (ls)
# ------------------------------------------

# --- aliases ---

{{- if lookPath "eza" }}

  # ! drop git flag for older versions of debian (unsupported)
  if ! eza --git /dev/null 2>&1 | grep -q "feature was disabled"; then

    # minimal version var (default) > add f for full view
    ls_minimal="--no-permissions --no-filesize --no-user --no-time --git"
    alias lsf="eza -alF --color=always --icons=always --git"

  else

    # minimal version var (no git)
    ls_minimal="--no-permissions --no-filesize --no-user --no-time"
    alias lsf="eza -alF --color=always --icons=always"

  fi
    # list directories only
    alias ld="eza -lD --color=always --icons=always $ls_minimal"
    alias ldf="eza -lD --color=always --icons=always"

    # list files only
    alias lf="eza -lF --color=always --icons=always $ls_minimal"
    alias lff="eza -lF --color=always --icons=always"

    # list hidden files
    alias lh="eza -ld .* --color=always --icons=always --group-directories-first $ls_minimal"
    alias lhf="eza -ld .* --color=always --icons=always --group-directories-first"

    # list with directories first
    alias ll="eza -al --icons=always --color=always --group-directories-first $ls_minimal"
    alias llf="eza -al --icons=always --color=always --group-directories-first"

    # list default
    alias ls="eza -alF --color=always --icons=always $ls_minimal"

    # list by modified time
    alias lt="eza -al --color=always --icons=always --sort=modified $ls_minimal"
    alias ltf="eza -al --icons=always --color=always --sort=modified"

    # list in tree view
    alias tree="eza -alF --tree --level=2 --icons=always --color=always $ls_minimal"
    alias treef="eza -alF --tree --level=2 --icons=always --color=always"

{{- end }}