# ------------------------------------------
# .aliases/nvim (nvim.zsh.tmpl)
# ------------------------------------------
# ref: https://gist.github.com/elijahmanor/b279553c0132bfad7eae23e34ceb593

{{ if eq .chezmoi.os "darwin" }}

export DEFAULT_NVIM=${XDG_CONFIG_HOME:-$HOME/.config}/nvim
export NVIM_APPNAME=${DEFAULT_NVIM}

# Function to dynamically find and select Neovim configurations
function nvims() {
  local config_dirs
  config_dirs=$(find -L "${XDG_CONFIG_HOME:-$HOME/.config}" -mindepth 2 -maxdepth 2 -name init.lua -o -name init.vim | awk -F/ '{print $(NF-1)}')
  
  local config
  config=$(printf "%s\n" "default" $config_dirs | fzf --prompt=" Neovim Config  " --height=~50% --layout=reverse --border --exit-0)
  
  if [[ -z $config ]]; then
    echo "Nothing selected"
    return 0
  elif [[ $config == "default" ]]; then
    config=${DEFAULT_NVIM:-""}
  fi
  
  export NVIM_APPNAME=$config
}

{{ end -}}
