#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $brews := .brews.base }}
{{- if .personal }}
{{-   $brews = concat $brews .brews.personal }}
{{- end }}
{{- if .work }}
{{-   $brews = concat $brews .brews.work }}
{{- end }}

brew install {{ $brews | join " " }}
