#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $tools := .uv.base }}
{{- if .personal }}
{{-   $tools = concat $tools .uv.personal }}
{{- end }}
{{- if .work }}
{{-   $tools = concat $tools .uv.work }}
{{- end }}

{{- if $tools }}
{{ range $tools -}}
uv tool install {{ . }}
{{ end -}}
{{- end }}
