#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $casks := .casks.base }}
{{- if .personal }}
{{-   $casks = concat $casks .casks.personal }}
{{- end }}
{{- if .work }}
{{-   $casks = concat $casks .casks.work }}
{{- end }}

{{- if $casks }}
brew install --cask --adopt {{ $casks | join " " }}
{{- end }}
