#!/bin/sh
# managed by chezmoi - re-runs when packages-darwin.yml changes

{{- $casks := fromJson (includeTemplate ".chezmoitemplates/merge-by-role.tmpl" (list .casks .)) }}

{{- if $casks }}
brew install --cask --adopt {{ $casks | join " " }}
{{- end }}
