[settings]
{{ if eq .chezmoi.username "root" -}}
trusted_config_paths = ["/home"] # trust user home dirs with mise configs (prevent trust prompts)
{{ end -}}


[tools]
uv = "latest"
neovim = "latest"
starship = "latest"
zoxide = "latest"
lazygit = "latest"
lazydocker = "latest"
eza = "latest"
carapace = "latest"
ripgrep = "latest"
doggo = "latest"
glow = "latest"
fd = "latest"
fzf = "latest"
tmux = "latest"
jq = "latest"
gh = "latest"
duf = "latest"
dua = "latest"
gdu = "latest"
"github:schollz/croc" = "latest"
fastfetch = "latest"
yazi = "latest"
{{ if eq .chezmoi.os "linux" -}}
"github:aristocratos/btop" = "latest"
{{ end -}}
"github:joshmedeski/sesh" = "latest"
bat = "latest"
node = "lts"
python = "latest"
