{{- $p := (index .themes .theme).palette -}}
gui:
  nerdFontsVersion: "3"
  border: rounded
  theme:
    activeBorderColor:
      - '{{ $p.accent }}'
      - bold
    inactiveBorderColor:
      - '{{ $p.comment }}'
    optionsTextColor:
      - '{{ $p.primary_alt }}'
    selectedLineBgColor:
      - '{{ $p.surface }}'
    selectedRangeBgColor:
      - '{{ $p.surface }}'
    cherryPickedCommitBgColor:
      - '{{ $p.surface_alt }}'
    cherryPickedCommitFgColor:
      - '{{ $p.primary_alt }}'
    unstagedChangesColor:
      - '{{ $p.error }}'
    defaultFgColor:
      - '{{ $p.fg }}'
