[user]
{{- if and .personal (lookPath "bw") }}
  name  = {{ .bw_github.name }}
  email = {{ .bw_github.email }}
{{- else if and (not .personal) .work }}
  name  = {{ .git_name }}
  email = {{ .git_email }}
{{- else }}
  name  = {{ .chezmoi.username }}
  email = {{ .chezmoi.username }}@{{ .chezmoi.hostname }}
{{- end }}

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true
{{- if .personal }}

[includeIf "hasconfig:remote.*.url:*gitea.lab.brendans.cloud*"]
  path = ~/.config/git/gitea

[includeIf "hasconfig:remote.*.url:*github.com*"]
  path = ~/.config/git/github
{{- end }}
{{- if eq .chezmoi.os "darwin" }}

[credential]
  helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}

[credential]
  helper = manager
{{- end }}
