[[session]]
name = "home"
path = "~"

[[session]]
name = "docker"
{{ if stat "/opt/docker/compose" -}}
path = "/opt/docker"
{{ else -}}
path = "~/docker/compose"
{{ end -}}

[[session]]
name = "opt"
path = "/opt"

