# ------------------------------------------
# .aliases/general
# ------------------------------------------

alias sudo="sudo env PATH=\"\$PATH\" " # expand aliases + preserve PATH for mise tools
alias dotfiles="cd ~/.local/share/chezmoi"
alias c="clear"
