# ------------------------------------------
# .aliases/pi
# ------------------------------------------

alias pipo='command pi "/loadout use pocock"'
alias pisp='command pi "/loadout use superpowers"'
alias pice='command pi "/loadout use ce"'
