# ------------------------------------------
# .aliases/pi
# ------------------------------------------

alias pipo='command pi "/loadout use pocock"'
alias pisp='command pi --skill "$HOME/.pi/agent/git/github.com/obra/superpowers/skills" "/loadout use superpowers"'
alias pice='command pi "/loadout use ce"'
