# ------------------------------------------
# config
# ------------------------------------------

# --- additional configs based on scopes ---
import = [

{{- if .personal }}
  "~/.config/sesh/configs/personal.toml",
{{- end }}

{{- if .work }}
  "~/.config/sesh/configs/work.toml",
{{- end }}

{{- if .homelab }}
  "~/.config/sesh/configs/homelab.toml",
{{- end }}
]


# ------------------------------------------
# defaults
# ------------------------------------------

sort_order = ["config", "tmux", "zoxide"]

blacklist = [
  "^_"
]

[default_session]
startup_command = "nvim +\"lua Snacks.picker.files()\""
preview_command = "eza --all --long --git --icons --color=always {}"


# ------------------------------------------
# sessions
# ------------------------------------------

{{- if eq .chezmoi.os "darwin" }}

[[session]]
name = "downloads"
path = "~/Downloads"
startup_command = "yazi"

{{- end }}

# --- configs ---

[[session]]
name = "dotfiles"
path = "~/{{ .chezmoi_dir }}"

[[session]]
name = "nvim config"
path = "~/.config/nvim"

[[session]]
name = "tmux config"
path = "~/{{ .chezmoi_dir }}/dot_config/tmux"
startup_command = "nvim tmux.conf.tmpl"
