{{- $chezmoi := ".local/share/chezmoi" -}}
{{- $dev := "Dev" -}}

sort_order = ["config", "tmux", "zoxide"]

[[session]]
name = "Downloads 📥"
path = "~/Downloads"
startup_command = "lst"

[[session]]
name = "tmux config"
path = "~/{{ $chezmoi }}/dot_config/tmux/tmux.conf.tmpl"
startup_command = "nvim ~/{{ $chezmoi }}/dot_config/tmux/tmux.conf.tmpl"
preview_command = "bat --color=always ~/{{ $chezmoi }}/dot_config/tmux/tmux.conf.tmpl"

[[session]]
name = "dotfiles"
path = "~/{{ $chezmoi }}"
startup_command = "nvim ."

[[session]]
name = "homelab"
path = "~/{{ $dev }}/ansible/homelab"
startup_command = "lst"

[[session]]
name = "steady-servers"
path = "~/{{ $dev }}/ansible/steadydigital/steady-servers"
startup_command = "lst"

[[session]]
name = "touch-typing"
path = "~/Downloads/[1] - Projects/touch-typing"
startup_command = "lst"

[[session]]
name = "keyboards"
path = "~/{{ $dev }}/keyboards"
startup_command = "lst"

[[session]]
name = "nvim config"
path = "~/.config/nvim"
startup_command = "nvim"

[[session]]
name = "stdy-astro-2026"
path = "~/{{ $dev }}/astro/stdy-astro-2026"
startup_command = "lst"
