#!/bin/bash

# check if bat themes directory exists
#!/bin/bash

# Check if bat themes directory exists
if [ ! -d ~/.config/bat/themes ]; then
  echo "Loading external bat theme"

  if command -v batcat &> /dev/null; then
    batcat cache --build
  elif command -v bat &> /dev/null; then
    bat cache --build
  else
    echo "bat is not installed"
  fi
else
  echo "The themes directory already exists."
fi



# set zsh to default shell
if [ ! -f ~/.zshrc ]; then
    echo "Set zsh as default shell"
    chsh -s $(which zsh)
else
	echo "zsh already default shell, skipping."
fi