# set bat external theme
# if [ ! -d ~/.config/bat/themes ]; then
#   # load external theme
#     echo "Loading external bat theme"
#     {{- if lookPath "bat" }}
#       bat cache --build
#     {{- end }}
# else
    cat cache --build
# fi

# set zsh to default shell
if [ ! -f ~/.zshrc ]; then
    echo "Set zsh as default shell"
    chsh -s $(which zsh)
else
	echo "zsh already default shell, skipping."
fi