#!/bin/bash

# ------------------------------------------
# install > starship
# ------------------------------------------

if ! command -v starship &>/dev/null; then
  echo "installing starship..."
  sh -c "$(curl -sS https://starship.rs/install.sh)" -- -y
else
	echo "starship already installed, skipping."
fi