#!/bin/bash

# ------------------------------------------
# install > lazydocker (mac only - linux handled by run_onchange_update-lazydocker)
# ------------------------------------------

{{ if eq .chezmoi.os "darwin" -}}
if command -v docker &> /dev/null; then
  if brew list --formula | grep -q "^lazydocker$"; then
    echo "lazydocker already installed, skipping."
  else
    echo "installing lazydocker..."
    brew install lazydocker
  fi
else
  echo "docker not installed, skipping lazydocker installation."
fi
{{- end }}

# ------------------------------------------
# install > lazygit (mac only - linux handled by run_onchange_update-lazygit)
# ------------------------------------------

{{ if eq .chezmoi.os "darwin" -}}
if command -v git &> /dev/null; then
  if brew list --formula | grep -q "^lazygit$"; then
    echo "lazygit already installed, skipping."
  else
    echo "installing lazygit..."
    brew install lazygit
  fi
else
  echo "git not installed, skipping lazygit installation."
fi
{{- end }}
