#!/bin/bash

# ------------------------------------------
# install > starship
# ------------------------------------------

if [ ! -d "$HOME/.config/starship" ]; then 
echo "installing starship..."
sh -c "$(curl -sS https://starship.rs/install.sh)" -- -y
else
	echo "starship already installed, skipping."
fi