#!/bin/bash

#! disabled until imp moduled dep is fixed to work with new python versions
# see - https://github.com/nvbn/thefuck/pull/1475


# install thefuck
# if ! command -v thefuck &> /dev/null; then 
#   echo "Installing thefuck"

#   {{ if and (eq .chezmoi.os "linux") (or (not .chezmoi.hostname) (not (contains "pve" .chezmoi.hostname))) -}}
#     sudo apt install -y python3-dev python3-pip python3-setuptools
#     pip3 install thefuck --user
#   {{ else if eq .chezmoi.os "darwin" }}
#     brew install thefuck
#   {{ end -}}

# else
#     echo "thefuck already installed, skipping."
# fi