#!/bin/bash

# ------------------------------------------
# install > fzf
# ------------------------------------------

# check for fzf
if [ ! -f "$HOME/.fzf.zsh" ]; then
    echo "installing fzf..."
    ~/.fzf/install --all
else
    echo "fzf already installed, skipping."
fi