# !/bin/bash

# ------------------------------------------
# install > neovim (mac only - linux handled by .chezmoiexternal.toml.tmpl)
# ------------------------------------------

{{ if eq .chezmoi.os "darwin" -}}
if brew list --formula | grep -q "^neovim$"; then
  echo "neovim already installed, skipping."
else
  echo "installing neovim..."
  brew install neovim
fi
{{- end }}
