#!/bin/bash

# install starship
if [ ! -d "$HOME/.config/starship" ]; then 
echo "Getting Starship"
sh -c "$(curl -sS https://starship.rs/install.sh)" -- -y
else
	echo "starship.toml already found, skipping."
fi