#!/bin/bash

# ------------------------------------------
# install > tmux plugin dependencies
# ------------------------------------------

# --- theme ---

if [ ! -d "$HOME/.tmux/plugins/tmux-tokyo-night/" ]; then
  echo "installing tmux theme dependencies..."

  {{ if (eq .chezmoi.os "linux") -}}
    apt-get install bash bc coreutils gawk git
  {{ else if eq .chezmoi.os "darwin" }}
    brew install --cask font-jetbrains-mono-nerd-font font-monaspace-nerd-font font-noto-sans-symbols-2
    brew install bash bc coreutils gawk glab gsed
  {{ end -}}

else
    echo "tmux theme dependencies already installed, skipping."
fi