{{- if and .personal (lookPath "bw") -}}
matches:
  - trigger: ":bmail"
    replace: "{{ .bw_info.email }}"

  - trigger: ":gmail"
    replace: "{{ .bw_info.email_old }}"

  - trigger: ":smail"
    replace: "$|${{ .bw_info.email_shop }}"

  - trigger: ":pmail"
    replace: "{{ .bw_info.email_pub }}"

  - trigger: ":hmail"
    replace: "{{ .bw_info.email_hbd }}"

  - trigger: ":rwmail"
    replace: "{{ .bw_info.email_rw }}"
{{- end }}
