{{- if and .personal (lookPath "bw") -}}
matches:
  - trigger: ":bname"
    replace: "{{ .bw_info.full_name }}"

  - trigger: ":bphone"
    replace: "{{ .bw_info.phone }}"

  - trigger: ":abn"
    replace: "{{ .bw_info.abn }}"

  - trigger: ":bpo"
    replace: "{{ .bw_info.po_box }}"

  - trigger: ":bnk"
    replace: "{{ .bw_info.bnkn }}"
{{- end }}
